.mypy_cache/
__pycache__/
.ipynb_checkpoints/

*.pdf
*.xlsx
*.svg
KDEplot.pdf
*.txt
*.ilp
*.ipynb
*.DS_Store
test*
dataSummary.xlsx

data/
JSON events/
StatisticsResults/
Generated Shapefiles/
Maps and Others/

prueba.sbatch
prueba.py
Analysis.py
emergenciesPlot.svg
delete*